$bubble-size: 10px;
$spinnin-bubble-translate: 200%;
$spinning-bubble-transform-origin: ($spinnin-bubble-translate - 50%) * -1;
$spoke-translate: 100%;
$spoke-transform-origin: ($spoke-translate) * -1;
.loader {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 100%;
    opacity: 1;
    .loading-spokes {
        position: relative;
        margin: auto;
        height: 45px;
        .spoke-container {
            position: absolute;
            top: 50%;
            left: calc(50% - 10px*1.5);
            @include transform-origin(50%, -100%);
            .spoke {
                background: #9B9B9B;
                width: 4px;
                height: 10px;
                @include animation(spoke 1s infinite);
                @include animation-delay(inherit);
                @include border-radius(10px);
            }
            &:nth-of-type(0n+1) {
                @include transform(translate(100%, 50%) rotate(-90deg));
                @include animation-delay(-0.875s);
            }
            &:nth-of-type(0n+2) {
                @include transform(translate(100%, 50%) rotate(-45deg));
                @include animation-delay(-0.75s);
            }
            &:nth-of-type(0n+3) {
                @include transform(translate(100%, 50%));
                @include animation-delay(-0.625s);
            }
            &:nth-of-type(0n+4) {
                @include transform(translate(100%, 50%) rotate(45deg));
                @include animation-delay(-0.5s);
            }
            &:nth-of-type(0n+5) {
                @include transform(translate(100%, 50%) rotate(90deg));
                @include animation-delay(-0.375s);
            }
            &:nth-of-type(0n+6) {
                @include transform(translate(100%, 50%) rotate(135deg));
                @include animation-delay(-0.25s);
            }
            &:nth-of-type(0n+7) {
                @include transform(translate(100%, 50%) rotate(180deg));
                @include animation-delay(-0.125s);
            }
            &:nth-of-type(0n+8) {
                @include transform(translate(100%, 50%) rotate(225deg));
                @include animation-delay(0);
            }
        }
    }
}

@keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
