<div class="loader">
    <div class="loading-spokes">
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
        <div class="spoke-container">
            <div class="spoke"></div>
        </div>
    </div>
</div>