<div id="topbar">
    <div class="wrapper">
        <div class="left">
            <div class="logo" style="background-image: url('images/logo.png')" ></div> <!-- ng-click="goCourseManage()" -->
            <div class="slogan">敏捷開發、實務、課程、顧問服務</div>
        </div>
        <!-- div class="right">
        	<div class="right-menu">
        		<div class="menu-item">
        			<div class="nav-button" open-dropdown="topbar-dropdown" side="left">
        				<span class="glyphicon glyphicon-th"></span>
        			</div>
        		</div>
    		</div>
        </div -->
    </div>
    <!-- div class="dropdown popup nav-menu" data-open-class="open" dropdown="topbar-dropdown">
    	<navigator></navigator>
	</div -->
</div>