<h3 class="section-title style-title">Inner Scroll</h3>
<p class="style-descript">自定義滾軸元件，適合用在跳出來的Modal或是Sidebar等地方，因為自定義scroll會造成部分效能問題，所以會使用在靜待資料或是資料量小的地方，還有自定義滾軸也會造成JQuery UI的拖拉事件 scroll = true 的option失效，因此使用前請慎選，此外被下ng-scrollbar的Tag會因為padding而造成scroll bar計算錯誤，所以該tag的padding必須是0，overflow也必須是hidden，不然ngScroll會無法出現，refresh-on-change指到一個Array Data，當該data的數量更改時會自動更新scroll bar的樣式。</p>

<div class="inner-scroll-section">
	<div class="inner-scroll-section-list" ng-scrollbar refresh-on-change="list" inner-infinite-scroll="loadMore()" infinite-scroll-disabled="isLoading">
		<ul>
			<li ng-repeat="l in list track by $index"> item {{$index}}</li>
		</ul>
	</div>

	<div class="list-controller">
		<span>正在讀取 : {{isLoading}}</span>
		<div class="button white" ng-click="isLoading = !isLoading">切換讀取狀態</div>
	</div>
</div>

<div hljs language="html" no-escape>
&lt;script src=&quot;modules/inner_scrollbar/ngScrollbar.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../js/vendors/perfect-scrollbar/perfect-scrollbar.min.js&quot;&gt;&lt;/script&gt;
</div>
<div hljs language="javascript">
angular.module("MyApp", ['ngScrollbar']);
</div>
<div hljs language="html">
<div class="infinitescroll-section" infinite-scroll="loadMore()" infinite-scroll-disabled="isLoading" infinite-scroll-inner="true">
    ...
</div>
</div>