#invoice-modal {
    .modal-dialog {
        margin: 18px auto;
    }
    .modal-header {
        position: relative;
        .close {
            position: absolute;
            top: 1px;
            right: 0;
            height: 53px;
            width: 53px;
        }
        h4 {
            text-align: center;
            font-size: 20px;
        }
    }
    .modal-body {
        padding: 20px 30px;
        .invoice-info-content {
            @include display-flex(flex);
            .left,
            .right {
                display: inline-block;
                @include flex(1);
                .form-group {
                    height: 35px;
                    line-height: 35px;
                    margin-bottom: 0;
                    margin-right: 20px;
                    vertical-align: top;
                    label {
                        vertical-align: top;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .input-group {
                        width: calc(100% - 120px);
                        display: inline-block;
                        .input-group-addon {
                            height: 34px;
                        }
                        input {
                            width: calc(100% - 40px);
                        }
                    }
                    .warning {
                        color: #F14342;
                    }
                    .input-block {
                        position: relative;
                        display: inline-block;
                        input {
                            width: 170px;
                            padding-right: 25px;
                            &.id {
                                width: 120px;
                            }
                        }
                        .company-correct {
                            position: absolute;
                            display: none;
                            bottom: -18px;
                            left: -125px;
                            font-size: 12px;
                            color: #333;
                            height: 14px;
                            width: 295px;
                            line-height: 14px;
                            color: #0F8CF7;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                        .loading {
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            @include transform(translateY(-50%));
                        }
                        .success, .error {
                            display: none;
                        }
                        &.has-error {
                            .success {
                                display: none;
                            }
                            .error {
                                display: block;
                            }
                            .company-correct {
                                display: block;
                            }
                        }
                        &.has-success {
                            .success {
                                display: block;
                            }
                            .error {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .invoice-content {
            .invoice-pager {
                margin: 20px 0 5px;
                text-align: center;
                .pager {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    margin: 0 5px;
                    background-color: rgba(#333, 0.2);
                    @include border-radius(50%);
                    &.active {
                        background-color: #333;
                    }
                }
            }
            .invoice-wrapper {
                height: 550px;
                padding: 10px 30px;
                margin: 0 auto;
                text-align: center;
                border: 2px dashed #ccc;
                .invoice-title {
                    font-size: 20px;
                    height: 24px;
                    line-height: 24px;
                    margin-bottom: 8px;
                    color: #aaa;
                    span {
                        margin: 0 10px;
                    }
                }
                .invoice-desc {
                    color: #aaa;
                    font-size: 16px;
                    margin-bottom: 8px;
                }
                .invoice-date {
                    display: inline-block;
                    height: 28px;
                    line-height: 28px;
                    vertical-align: top;
                    span {
                        color: #333;
                        font-size: 24px;
                    }
                }
                .result-content {
                    text-align: left;
                    font-size: 14px;
                    color: #aaa;
                    .invoice-buyer {
                        margin-bottom: 8px;
                        height: 28px;
                        line-height: 28px;
                        span {
                            color: #333;
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                    .invoice-meta {
                        margin-bottom: 15px;
                        .invoice-companyid {
                            display: inline-block;
                            margin-right: 15px;
                            span {
                                height: 24px;
                                line-height: 28px;
                            }
                            .id-item {
                                width: 28px;
                                height: 28px;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-right: none;
                                text-align: center;
                                line-height: 28px;
                                vertical-align: top;
                                font-size: 24px;
                                color: #333;
                                &:last-child {
                                    border-right: 1px solid #ccc;
                                }
                            }
                        }
                    }
                    .invoice-table {
                        height: 200px;
                        thead {
                            tr {
                                th {
                                    border: 1px solid #C38293;
                                    font-size: 16px;
                                    padding: 4px 8px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    height: 40px;
                                    line-height: 40px;
                                    border: 1px solid #C38293;
                                    padding: 0 8px;
                                    font-size: 16px;
                                    &.td-answer {
                                        color: #333;
                                        font-size: 24px;
                                    }
                                    &.td-word {
                                        text-align: right;
                                        font-size: 24px;
                                        .word-item {
                                            display: inline-block;
                                            width: 60px;
                                            margin-left: 5px;
                                            .word {
                                                display: inline-block;
                                                margin-right: 5px;
                                                text-align: center;
                                                color: #333;
                                            }
                                            .unit {
                                                line-height: 20px;
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .invoice-action {}
    }
    .modal-footer {
        text-align: left;
        padding:  15px 30px;
        .form-inline {
            display: inline-block;
            span {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                margin-right: 10px;
            }
            .radio-inline {
                height: 34px;
                line-height: 34px;
                input {
                    margin: 0;
                    top: 48%;
                    left: 4px;
                    @include transform(translateY(-50%));
                }
            }
            .form-group {
                margin-left: 30px;
                label {
                    height: 35px;
                    line-height: 35px;
                    margin-right: 10px;
                }
                input {
                    width: 130px;
                    &.tax {
                        width: 80px;
                    }
                }
            }
        }
        .btn {
            float: right;
        }
        .result-container {
            display: none;
            height: 34px;
            margin-right: 20px;
            float: right;
            .label {
                height: 24px;
                line-height: 24px;
                padding: 0 10px;
                margin: auto 10px;
            }
            .spin-style {
                margin: auto;
            }

            &.show-result {
                @include display-flex(flex);
            }
        }
    }
    .right-button, .left-button {
    	position: absolute;
    	top: 50%;
    	width: 50px;
    	height: 200px;
    	background-color: rgba(#333, 0.2);
        cursor: pointer;
    	@include display-flex(flex);
    	@include transform(translateY(-50%));
    	span {
    		color: #FFF;
    		font-size: 28px;
    		margin: auto;
    	}
    	&:hover {
    		background-color: rgba(#333, 0.5);
    	}
        &.stop {
            cursor: not-allowed;
            &:hover {
                background-color: rgba(#333, 0.2);
            }
        }
    }
    .right-button {
    	right: -80px;
    	@include border-radius(8px 0 0 8px);
    }
    .left-button {
		left: -80px;
		@include border-radius(0 8px 8px 0);
    }
}
