<div class="example">
    <div class="page-content">
        <div class="inner-wrapper">
            <div class="content">
                <div class="info">
                    <div class="title">產生證書</div>
                    <div style="text-align:left">
                        <label for="certificationNumber">證書編號: </label>
                        <input class="form-control" type="text" id="certificationId" value="SCRUM1603-33">
                        <br>
                        <label for="studentName">學員姓名: </label>
                        <input class="form-control" type="text" id="studentName" value="陳泰迪">
                        <br>
                        <label for="studentName">研習日期: </label>
                        <input class="form-control" type="text" id="courceDate" value=" 於 2016 年 4 月 16、17、23 日">
                        <br>
                        <label for="studentName">課程名稱: </label>
                        <input class="form-control" type="text" id="courceName" value="Design Patterns 這樣學就會了：入門實作班">
                        <br>
                        <label for="studentName">研習時數: </label>
                        <input class="form-control" type="text" id="courceDuration" value="全期共十八小時研習期滿，特此證明">
                        <br>
                        <label for="studentName">證書日期: </label>
                        <input class="form-control" type="text" id="certificationDate" value="2016 年 4 月 23 日">
                        <br>
                        <br>
                        <input class="btn btn-info btn-orange" type="button" value="Generate" ng-click="ClickGenerateButton()">
                        <input class="btn btn-info btn-orange" type="button" value="Download" ng-click="ClickDownloadButton()">
                        <input class="btn btn-info btn-orange" type="button" value="Download PDF" ng-click="ClickDownloadPDFButton()">
                    </div>
                    <br>
                    <img style="display: block; margin: auto" id="someImg" width="100%"></img>
                </div>
            </div>
        </div>
    </div>
</div>
