<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>certification</display-name>
  <servlet>
    <servlet-name>CertificationServlet</servlet-name>
    <servlet-class>servlets.CertificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificationServlet</servlet-name>
    <url-pattern>/servlet/CertificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendGmailServlet</servlet-name>
    <servlet-class>servlets.SendGmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendGmailServlet</servlet-name>
    <url-pattern>/servlet/SendGmailServlet</url-pattern>
  </servlet-mapping>
</web-app>